.app {
    background-color: #f1f2f6;
    height: 100%;
    padding-top: 2%;
}

.imageWrapper {
    height: 125px;
    margin-bottom: 25px;
}

.buttonWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.quantity {
    padding: 10px 12px;
    border: 1px solid #000000;
    border-radius: 4px;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}